* {
  box-sizing: box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* body {
    display:flex;
    justify-content:center;
} */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid gray;
}

.intro {
  text-align: center;
}

.compare {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  background: rgb(209, 231, 238);
  border-radius: 3px;
}


h5 {
    color: orange;
}